@using Cinemagnesia.Domain.Domain.Entities.Concrete;
@using Cinemagnesia.Presentation.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc.Rendering;


@model LogoutModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <img width="75px" height="75px" src="~/images/Cinemagnesia/@UserManager.GetUserAsync(User).Result.ProfilePicture" />

                       
                            <span class="block m-t-xs font-bold">@UserManager.GetUserAsync(User).Result.FirstName</span>
                            <span class="text-muted text-xs block">Yönetim Paneli<b class="caret"></b></span>
                        

                    }

                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="@Url.CustomAction("Profile", "AppViews")">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.CustomAction("Contacts", "AppViews")">Contacts</a></li>
                        <li><a class="dropdown-item" href="@Url.CustomAction("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li>
                            @{
                                if (User.Identity?.IsAuthenticated ?? false)
                                {
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                }
                                else
                                {
                                    <p>You have successfully logged out of the application.</p>
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Statistic")">
                <a href="@Url.CustomAction("Index", "Statistic")">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">İstatistikler</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "UserData")">
                <a href="@Url.CustomAction("Index", "UserData")">
                    <i class="fa-solid fa-database"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">Kullanıcı Verileri</span>
                </a>
            </li>

            <li class="@Html.IsSelected(controller: "AddData")">
                <a href="@Url.CustomAction("Index", "AddData")">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">Veri Kayıt</span>
                </a>
            </li>

             <li class="@Html.IsSelected(controller: "CommentRequest")">
                <a href="@Url.CustomAction("Index", "CommentRequest")">
                   <i class="fa-solid fa-comment"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">Yorum İstekleri</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "ProductorRequest")">
                <a href="@Url.CustomAction("Index", "ProductorRequest")">
                    <i class="fa-solid fa-hands-clapping"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">Yapımcı Başvuru İstekleri</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "ProductorDataRequest")">
                <a href="@Url.CustomAction("Index", "ProductorDataRequest")">
                    <i class="fa-solid fa-film"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">Yapımcı Film İstekleri</span>
                </a>
            </li>
            @*<li class="@Html.IsSelected(controller: "LogList")">
                <a href="@Url.CustomAction("Index", "LogList")">
                    <i class="fa-solid fa-clipboard"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">Log Kayıtları</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "UIEdit")">
                <a href="@Url.CustomAction("Index", "UIEdit")">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">UI Güncelleme</span>
                </a>
            </li>*@
            <li class="@Html.IsSelected(controller: "SendEmail")">
                <a href="@Url.CustomAction("Index", "SendEmail")">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">E-posta Gönder</span>
                </a>
            </li>
        </ul>
    </div>
</nav>