@using Cinemagnesia.Domain.Domain.Entities.Concrete;
@using Cinemagnesia.Presentation.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Microsoft.AspNetCore.Mvc;

@model LogoutModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <img width="75px" height="75px" src="~/images/Cinemagnesia/@UserManager.GetUserAsync(User).Result.ProfilePicture" />

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">@UserManager.GetUserAsync(User).Result.FirstName</span>
                            <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </a>

                    }

                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="@Url.CustomAction("Profile", "AppViews")">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.CustomAction("Contacts", "AppViews")">Contacts</a></li>
                        <li><a class="dropdown-item" href="@Url.CustomAction("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li>
                            @{
                                if (User.Identity?.IsAuthenticated ?? false)
                                {
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login" method="post">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                }
                                else
                                {
                                    <p>You have successfully logged out of the application.</p>
                                }
                            }
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Statistic")">
                <a href="@Url.CustomAction("Index", "Statistic")">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">İstatistikler</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: "UserData")">
                <a href="@Url.CustomAction("Index", "UserData")">
                    <i class="fa-sharp fa-regular fa-table"></i>
                    <span class="nav-label" data-i18n="nav.dashboard">Kullanıcı Verileri</span>
                </a>
            </li>
        </ul>
    </div>
</nav>