@model MovieViewModel
@{
    ViewBag.Title = "Movie Details";
}
<script src="https://cdn.tiny.cloud/1/3wjvpyjjmza9aahw76uwfh57h5kzsy1gv23kjg2b5oexaz37/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<link href="https://cdn.tiny.cloud/1/3wjvpyjjmza9aahw76uwfh57h5kzsy1gv23kjg2b5oexaz37/tinymce/5/skins/ui/oxide/skin.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @*<img src="@Model.CoverPictureUrl" class="img-fluid" alt="Movie Cover Picture">*@
            <img src="https://tr.web.img4.acsta.net/pictures/bzp/01/27070.jpg" class="img-fluid" alt="Movie Cover Picture">
        </div>
        <div class="col-md-6">
            @*<h2>@Model.Title</h2>*@
            <h2>Yüzüklerin Efendisi</h2>
            @*<p><strong>Director:</strong> @Model.Director</p>*@
            <p><strong>Director:</strong>Yönetmen</p>
            @*<p><strong>Genre:</strong> @Model.Genre</p>*@
            <p><strong>Genre:</strong>Bilim-Kurgu, Aksiyon, Macera</p>
            @*<p><strong>Length:</strong> @Model.Length</p>*@
            <p><strong>Length:</strong>93 Dakika</p>
            <div class="stars">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </div>
            <div class="form-group">
                <label for="comment">Yorum Bırak:</label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="has-spoiler">
              <label class="form-check-label" for="has-spoiler">Contains Spoilers</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Comments:</h3>
            <ul class="list-unstyled">
                <li>
                    <p><strong>User 1:</strong> This movie is amazing! I loved it so much.</p>
                </li>
                <li>
                    <p><strong>User 2:</strong> I didn't really enjoy this movie, it wasn't my cup of tea.</p>
                </li>
            </ul>
        </div>
    </div>
</div>


@section Scripts {
    <script>
    tinymce.init({
        selector: 'textarea',
        height: 500,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat | help'
    });
</script>
}
